<h1>持っているものランキング</h1>
<ul>
    <% count = 1 %>
    <% @ranking_list.each do |r| %>
        [<%= count %>]  <div class="img-wrap"> <%= link_to r.title, 'http://www.amazon.co.jp/dp/' + r.asin %><br>
          <% if r.large_image.present? %>
            <%= image_tag(r.large_image, alt: r.title) %>
          <% else %>
            <%= image_tag("no-image.png", alt: r.title) %>
          <% end %>
        </div>
    </div>
        <% count = count + 1 %>
    <% end %>
</ul>